@using Blog.Entities

@model List<Post>

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>

        <div class="col-md-9">

            <div class="row">

                @foreach (Post post in Model)
                {
                    int sum = 0;
                    double avr = 0;

                    if (post.Comments.Count > 0)
                    {
                        foreach (Comment c in post.Comments)
                        {
                            sum += c.Rating;
                        }

                        avr = sum / post.Comments.Count;
                    }

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>
                                    <a href="#">@post.Title</a>
                                </h4>

                                <h6>
                                    @post.Category.Name
                                </h6>
                                <h6>
                                    <span class="glyphicon glyphicon-user">@post.User.Username</span>
                                    <span class="glyphicon glyphicon-time pull-right">@post.CreationDate</span>
                                </h6>

                                <p>@post.Text.Substring(0,180)<a target="_blank" href="#">... Read More</a></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">@post.Comments.Count reviews</p>
                                <p>
                                    @if (avr > 4)
                                    {
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    }
                                    else if (avr > 3)
                                    {
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    }
                                    else if (avr > 2)
                                    {
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    }
                                    else if (avr > 1)
                                    {
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    }
                                    else if (avr == 1)
                                    {
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>

</div>
